HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### UI related package
# Logs
ui_*/**/logs
ui_*/**/*.log
ui_*/**/npm-debug.log*
ui_*/**/yarn-debug.log*
ui_*/**/yarn-error.log*
ui_*/**/pnpm-debug.log*
ui_*/**/lerna-debug.log*

ui_*/**/node_modules
ui_*/**/dist
ui_*/**/dist-ssr
ui_*/**/*.local

